* {
  box-sizing: border-box;
}

body{
  height: 100vh;
}
ul {
  list-style-type: none;
}

nav {
  display: flex; 
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 43px;
  z-index: 900;
  border-bottom: 2px solid #e2e2e2;
  background-color: #fff;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4px 15px 5px;
  text-align: center;
}

.nav-left{
  align-self: flex-start;
}
.nav-left i{
  padding: 10px;
}

#nyt-logo{
  align-self: center;
  flex: 2;
  margin-left: auto;
  padding-left: 10%;
}

.nav-right{
 align-self: flex-end;
}

button{
  padding: 11px 12px 8px;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  border-radius: 3px;
  line-height: 11px;
}

article{
  margin-top: 43px;
}

.main-article-title{
  max-width: 600px;
  margin: 0 auto 1rem;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
}

.fig {
  width: min-content;
  margin: 0 auto;
}

.fig-image {
  height: auto;
  width: 1200px;
}

.fig2 {
  display: flex;
  justify-content: center;
}

.vid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.article-header{
  width: 600px;
  margin: 0 auto;
}

.author{
  display: block;
  margin: 10px 0;
  font-size: 0.9375rem;
  line-height: 1.25;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}
.date{
  padding-top: 10;
  font-size: .8125rem;
  line-height: 1rem;
}
.icon-list1 {
  justify-content: flex-end;
}
.icon-list1 i{
  height: 25px;
  width: 25px;
  padding: 5px;
  margin:0 5px;
  background-color: #eee;
  border-radius: 50%;
  color: black;
}

.content p{
  width: 600px;
  margin: 20px auto;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message a {
  color: rgb(50, 104, 145);
  font-weight: bold;
  text-decoration: none;
}

.article-end{
  width: 600px;
  margin: 0 auto;
  font-size: 0.75rem;
  line-height: 1rem;
  
}

.article-end a{
  color: rgb(102, 102, 102);
}

.article-footer {
  display: flex;
  width: 600px;
  margin: 20px auto;
  justify-content: space-between;
}

.article-footer button {
  width: 327px;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
}

.more-articles {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: .25fr 1fr;
  gap: 20px;
}

.related{
  grid-column: 1;
  grid-row: 1;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr 1fr;
  justify-content: flex-start;
}
.article-with-image img{
  width: 100%;
}
.article-with-image figure{
 margin-left: 0;
 width: 100%;
}

figcaption{
  text-align: right;
  font-size: .625rem;
}
.related-header{
  grid-column: 1 / -1;
  grid-row: 1;
  border-top: 2px solid black;
}

.editors-picks{
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr ;
  gap: 20px;
}

.editors-header{
  grid-column: 1 / -1;
  border-top: 2px solid black;
}

.most-pop-header{
  border-top: 2px solid black;
  padding-top: 5px;
  grid-row: 1;
}

.most-popular{
  grid-column: 2;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
  grid-auto-rows: 55px;
  gap: 15px;
}

.section-header{
 padding-top: 10px;
}
.article-title{
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
  font-size: 1.1875rem;
  display: flex;
  align-items: center;
}

.article-title a {
  text-decoration: none;
  color: black;
}

footer{
  width: 1200px;
  margin: 0 auto 80px;
  font-size: 14px;
  border-top: 5px double #e2e2e2;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 50px 1fr 50px;
}
footer a{
  color: black;
  text-decoration: none;
}

.footer-left ul,
.footer-right ul{
  padding-left: 0;
}

.footer-left li,
.footer-right li{
  margin-top: 10px;
}


.footer-top{
  margin-top: 10px;
  grid-row: 1;
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.footer-top a{
  color: rgb(86, 123, 149);
  text-align: right;
}
.footer-left{
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.footer-right{
  border-left: 1px solid #e2e2e2;
  padding-left: 20px;
}

.footer-bottom{
  grid-column:1 / -1 ;
  border-top: 1px solid #e2e2e2;
  margin-top: 10px;
}

.footer-bottom li{
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

.list-title,
.bold{
  font-weight: bold;
}

.specialty{
  border-bottom: 1px solid #e2e2e2;
}

.site-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 55px;
  border-top:2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-text{
 flex: 2;
 text-align: right;
}
.bottom-right{
  flex: 1;
  text-align: center;
  font-weight: bold;
}