* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

nav {
  display: flex; 
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 43px;
  background-color: #fff;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4px 15px 2px;
  text-align: center;
}

.nav-left{
  align-self: flex-start;
}
.nav-left i{
  padding: 10px;
}

#nyt-logo{
  align-self: center;
  flex: 2;
  margin-left: auto;
  padding-left: 10%;
}

.nav-right{
 align-self: flex-end;
}

button{
  padding: 11px 12px 8px;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  border-radius: 3px;
  line-height: 11px;
}

article{
  margin-top: 43px;
}

.main-article-title{
  max-width: 600px;
  margin: 0 auto 1rem;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
}

.fig {
  width: min-content;
  margin: 0 auto;
}

.fig-image {
  height: auto;
  width: 1200px;
}

.fig2 {
  display: flex;
  justify-content: center;
}

.vid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.article-header{
  width: 600px;
  margin: 0 auto;
}

.author{
  display: block;
  margin: 10px 0;
  font-size: 0.9375rem;
  line-height: 1.25;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}
.date{
  padding-top: 10;
  font-size: .8125rem;
  line-height: 1rem;
}
.icon-list1 {
  justify-content: flex-end;
}
.icon-list1 i{
  height: 25px;
  width: 25px;
  padding: 5px;
  margin:0 5px;
  background-color: #eee;
  border-radius: 50%;
  color: black;
}

.content p{
  width: 600px;
  margin: 20px auto;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message a {
  color: rgb(50, 104, 145);
  font-weight: bold;
  text-decoration: none;
}

